*
{
    box-sizing: border-box;
}
@font-face {
    font-family: 'Roboto!';
    src:local('Roboto');
    src: url(../font/Roboto-Regular.ttf);
    src: url(../font/Philosopher-Regular.ttf)
}
body
{
    background-color:#FFE2B0;
}
header
{
    text-align: center;
    margin-bottom: 20px;
}
ul
{
    list-style-type: none;
    text-align: center;
    padding: 0px;

}
li
{
    display: inline;
    margin: 100px;
}
a
{
    color: black;
    text-decoration: none;
    font-size: 18px;
}
a:hover
{
    color: red;
    
}
li:last-child
{
    margin-right: 0px;
}
.navigation
{
    margin-bottom: 20px;
}
.section_about
{
    height: 640px;
    background-image: url(../img/01-Картинка-фона.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}
.section_about_block
{
    width: 420px;
    height: 190px;
    background: linear-gradient(180deg,rgba(224,213,178,0.8) 0%, rgba(234,156,65,0.8) 100%);
    position: absolute;
    top: 54%;
    left: 50%;
    padding-top: 15px;
}
.section_about_border
{
    width: 390px;
    height: 160px;
    border: 1px solid black;
    margin: 0 auto;
    padding: 17px 0 0 20px;
    text-align: left;
    
}
.sectio_about_title
{
    font-size: 36px;
    margin: 0;
    margin-bottom: 9px;
    font-family: 'Philosopher';
}
.section_about_text
{
    font-size: 12px;
    margin: 0px;
}
.section-discription_icon_box
{
    text-align: center;
    margin-bottom: 20px;
}

.section-discription_icon_box img {
    margin-right: 76px;
}

.section-discription_icon_box img: :last-child
{
    margin-right: 0px;
}


.section_discrption_title
{
    font-size: 96px;
    margin: 0px;
    text-align: center;
}
.red
{
    color:#f15b40;
}
.sect_dic_text
{
    font-size: 18px;
    margin: 0px;
    text-align: center;
    width: 1000px;
    margin: 0 auto;
}
.section-description
{
    margin: 20px;
}
.section_map_title
{
   margin-bottom: 20px;
   text-align: center;
   font-size: 36px; 
}
.map
{
    display:block;
    margin: 0 auto;

}
.line
{
    border: none;
    border-top: 1px solid #999999;
    width: 1024px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.section_map
{
    margin-bottom:20px;
}
.cellar
{
    height: 80px;
}
h1
{
    font-family: 'Philo';
}
html
{
    font-family: 'Roboto!';
}

